body {
  color: #282c34;
}

comment {
  color: #5c6370;
}

keyword {
  color: #c678dd;
}

operator {
  color: #56b6c2;
}

variable {
  color: #e06c75;
}

string {
  color: #98c379;
}

number,
atom {
  color: #d19a66;
}

bracket {
  color: #abb2bf;
}

def {
  color: #e5c07b;
}
